.dropDownOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 70px;
}

.dropDownLabel {
    padding-top: 5px;
    font-size: large;
    font-weight: bold;
}

.formLabel {
    width: 100px;
}

.mainFormDiv {
    border-bottom: black solid 2px;
    margin: 30px 20px 40px 15px;

}

.formHeader {
    padding: 10px
}

#dropdown-basic-button {
    width: 200px
}

#carFormSubmitButton{
    margin-top: 200px;
    clear: right;
}

@media screen and (max-width: 850px) {
    .dropDownOptions {
        flex-direction: column;
    }
    #carFormSubmitButton{
        margin-top: 0;
    }
}
