.dropDownOptions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 80px;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 70px;
}

.dropDownLabel {
    padding-top: 5px;
    font-size: large;
    font-weight: bold;
}

.mainFormDiv {
    border-bottom: black solid 2px;
    margin: 30px 20px 40px 15px;

}

.formHeader {
    padding: 10px
}

#dropdown-basic-button {
    width: 200px
}

#carFormSubmitButton{
}
