.carsTable {
    margin: 30px 10px 40px 10px;
    border: cadetblue solid 10px;
    border-radius: 10px;
}

.httpTable {
    margin: 10px;
    border: yellowgreen solid 10px;
    border-radius: 10px;
}
